---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>Acerca del Autor</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Fusiono la creatividad con la innovación para crear soluciones digitales. Mi pasión es convertir problemas en oportunidades puedes ver parte de mi trabajo en{
				' '
			}
			<a href='https://eloychavez.dev/' target='_blank' class="underline">EloyChavez.dev</a>
		</p>
		<p class='mb-3'>
			Buscame en redes sociales como @EloyChavezDev, {
				' '
			}
			<a href='https://eloychavez.dev/social/' target='_blank' class="underline">o da click en este enlace</a>
		</p>
	</div>
</div>